[package]
name = 'bls'
edition = { workspace = true }
authors = ["Grandine <info@grandine.io>"]

[lints]
workspace = true

[dependencies]
blst = { workspace = true }
derive_more = { workspace = true }
educe = { workspace = true }
fixed-hash = { workspace = true }
hex = { workspace = true }
impl-serde = { workspace = true }
itertools = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_utils = { workspace = true }
ssz = { workspace = true }
static_assertions = { workspace = true }
thiserror = { workspace = true }
typenum = { workspace = true }
zeroize = { workspace = true }

[dev-dependencies]
std_ext = { workspace = true }
tap = { workspace = true }
