[package]
name = 'validator'
edition = { workspace = true }
authors = ["Grandine <info@grandine.io>"]

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
axum = { workspace = true }
axum-extra = { workspace = true }
block_producer = { workspace = true }
bls = { workspace = true }
builder_api = { workspace = true }
clock = { workspace = true }
constant_time_eq = { workspace = true }
derivative = { workspace = true }
derive_more = { workspace = true }
directories = { workspace = true }
doppelganger_protection = { workspace = true }
eth1_api = { workspace = true }
eth2_libp2p = { workspace = true }
features = { workspace = true }
fork_choice_control = { workspace = true }
fork_choice_store = { workspace = true }
fs-err = { workspace = true }
futures = { workspace = true }
helper_functions = { workspace = true }
hex = { workspace = true }
http_api_utils = { workspace = true }
itertools = { workspace = true }
keymanager = { workspace = true }
liveness_tracker = { workspace = true }
log = { workspace = true }
once_cell = { workspace = true }
operation_pools = { workspace = true }
p2p = { workspace = true }
prometheus_metrics = { workspace = true }
rand = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true }
serde_utils = { workspace = true }
signer = { workspace = true }
slasher = { workspace = true }
slashing_protection = { workspace = true }
ssz = { workspace = true }
static_assertions = { workspace = true }
std_ext = { workspace = true }
tap = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tower-http = { workspace = true }
tynm = { workspace = true }
typenum = { workspace = true }
types = { workspace = true }
zeroize = { workspace = true }

[dev-dependencies]
factory = { workspace = true }
interop = { workspace = true }
reqwest = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
test-case = { workspace = true }

[features]
embed = ["eth1_api/embed", "block_producer/embed", "liveness_tracker/embed", "operation_pools/embed", "p2p/embed", "slasher/embed", "doppelganger_protection/embed", "signer/embed", "keymanager/embed"]
