[package]
name = 'zkvm_host'
edition = { workspace = true }
version = "0.1.0"
authors = ["Grandine <info@grandine.io>"]

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
bls = { workspace = true, features = ['zkcrypto'] }
bls-zkcrypto = { workspace = true, optional = true }
borsh = { workspace = true, optional = true }
clap = { workspace = true, features = ['derive'] }
database = { workspace = true }
enum-iterator = { workspace = true }
pubkey_cache = { workspace = true }
reqwest = { workspace = true, features = ["blocking"] }
risc0-zkvm = { workspace = true, optional = true, features = ['unstable', 'heap-embedded-alloc'] }
serde_json = { workspace = true, optional = true  }
snap = { workspace = true }
sp1-sdk = { workspace = true, optional = true }
ssz = { workspace = true }
tracing-subscriber = { workspace = true, optional = true }
transition_functions = { workspace = true }
types = { workspace = true }
xz2 = { workspace = true }
zkvm_guest_risc0 = { workspace = true, optional = true }

# For pico zkvm
pico-sdk = { git = "https://github.com/brevis-network/pico.git", tag = "v1.1.7" , optional = true }
pico-vm =  { git = "https://github.com/brevis-network/pico.git", tag = "v1.1.7" , optional = true }

[build-dependencies]
sp1-helper = { workspace = true, optional = true }

[features]
risc0 = [
    "dep:borsh",
    "dep:risc0-zkvm",
    "dep:tracing-subscriber",
    "dep:zkvm_guest_risc0",
    "bls-zkcrypto/zkvm-risc0",
]
sp1 = [
    "dep:sp1-helper",
    "dep:sp1-sdk",
]
pico = [
    "dep:serde_json",
    "dep:pico-sdk",
    "dep:pico-vm",
    "bls-zkcrypto/zkvm-pico",
]
