[package]
name = 'metrics'
edition = { workspace = true }
authors = ["Grandine <info@grandine.io>"]

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
axum = { workspace = true }
bls = { workspace = true }
build-time = { workspace = true }
chrono = { workspace = true }
directories = { workspace = true }
eth1_api = { workspace = true }
eth2_libp2p = { workspace = true }
fork_choice_control = { workspace = true }
futures = { workspace = true }
grandine_version = { workspace = true }
helper_functions = { workspace = true }
http_api_utils = { workspace = true }
jemalloc-ctl = { workspace = true }
log = { workspace = true }
num_threads = { workspace = true }
p2p = { workspace = true }
prometheus = { workspace = true }
# `prometheus-client` is only needed for libp2p metrics.
prometheus-client = { workspace = true }
prometheus_metrics = { workspace = true }
psutil = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
std_ext = { workspace = true }
sysinfo = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tower-http = { workspace = true }
transition_functions = { workspace = true }
types = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
